<div id="appliedParams">

	<h3>You searched for:<%= image_tag "magnifying_glass.gif", :alt=>"search icon", :plugin=>'blacklight' %></h3>

	<span id="appliedQueries">
		<% if ! localized_params[:q].blank? %>
			<span class="appliedFilter">
				<span class="first">
					<span class="queryName"><%= search_field_label(localized_params) %></span>
					<span><%= h(localized_params[:q]) %></span>
				</span>
				<%= link_to('',
					catalog_index_path(localized_params.merge(:q=>nil, :action=>'index')),
					:class=>'btnRemove imgReplace',
          :alt=>'x'
				) %>
				<%= image_tag "checkmark.gif", :alt=>"checkmark", :plugin=>'blacklight' %>
			</span>
		<% else %>
			<span class="appliedFilter"><span class="first"><span>No Keywords</span> </span></span>
		<% end %>
	</span>

	<% if localized_params[:f] %>
		<span id="appliedFilters">
			<span id = "appliedFiltersList">
				<% localized_params[:f].each_pair do |facet,values| %>
					<% values.each do |v| %>
						<span class="appliedFilter">
							<span class="first">
								<span>
									<% if facet == "worknum_s"%>
										<span class="filterName"><%= h "Movies/Programs limited by " %></span>
										<span class="filterValue"><%= localized_response.first["worktitle_display"] %></span>
									<% else %>
										<% unless facet_field_labels[facet].nil?%>
											<span class="filterName"><%= h "Movies/Programs limited by #{facet_field_labels[facet]}" %></span>
										<% else %>
											<span class="filterName"><%= h "Versions limited by #{manifestation_facet_field_labels[facet]}"  %></span>
										<% end %>
										<span class="filterValue"><%= v %></span>
									<% end %>
								</span>
							</span>
							<%= link_to(
								'',
								catalog_index_path(remove_facet_params(facet, v, localized_params)),
								:class=>'btnRemove imgReplace',
                :alot=>'x'
							) %>
							<%= image_tag "checkmark.gif", :alt=>"checkmark", :plugin=>'blacklight' %>
						</span>
					<% end %>
				<% end %>
			</span>
		</span>
	<% end %>
	
	<div>
		<% if params[:action] == 'index' %>
			<%= page_entries_info @response.docs, :entry_name=>'movies/programs' %>
		<% else %>
			Showing <%= session[:search][:counter].to_i %> of <%= format_num(session[:search][:total]) %> works from your search.
		<% end %>
		<%=link_to "Start&nbsp;over&thinsp;", catalog_index_path, :id=>"startOverLink" %>
	</div>
	
</div>