<% if params[:q].blank? and params[:f].blank? and params[:search_field].blank? %>
	<%# if there are no input/search related params, display the "home" partial -%>
	<%= render 'home' %>
<% else %>

	<% @page_title = application_name + " Search Results" %>
	<% if @document_list.length > 1 %>
		<%=  render :partial=>'catalog/work_facets',  :locals => {:response => response} %>
	<% end -%>
	<%= render :partial => 'search_form' %>
	
	<%= render :partial => 'did_you_mean' %>
	
	<%= render 'constraints', :localized_params=>params, :localized_response =>  @response.docs %>
	
	<div class="pagination">
	  <h2>Results navigation</h2>
	  <%= will_paginate @response.docs, :page_links => false, :class => 'prev_next_links' %>
	  <%= will_paginate @response.docs, :container => false %>
	</div>
	
	<%= render 'sort_and_per_page' %>
	
	<% if @document_list.length > 1%>
		<%= render :partial=>'document_list' %>
	<% else %>
		<%= render :partial=> 'document_single'%>
	<% end -%>
	
	<% sidebar_items << capture do %>
	  <%= render :partial=>'facets' %>
	<% end %>
	



	<div class="pagination">
	  <%= will_paginate @response.docs, :page_links => false, :class => 'prev_next_links' %>
	  <%= will_paginate @response.docs, :container => false %>
	</div>

	<%= render :partial=>'solr_request' %>

<% end %>