<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= url_for :controller=>'catalog',:action => 'opensearch', :format => 'xml', :only_path => false %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    <% stylesheet_links << "olac.css" %>
    <%= render_head_content %>
    
    
  </head>
  <% if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
    <body onload="$('input#q').focus();">
  <% else %>
    <body>
  <% end %>
	  <div id="doc4" class="yui-t2">
	    <div id="nav" class="nav">
		 <dl id="nav_items" class="nav_items">
		    <dd><a href="/page/about">ABOUT</a></dd>
			<dd><a href="/page/credits">CREDITS</a></dd>
			<dd><a href="/page/samples">SAMPLE SEARCHES/USE CASES<a></dd>
				<dd><a href="/page/feedback">FEEDBACK<a></dd>
					<dd></dd>
		 </dl>
		</div>
	    <div id="hd">
		<% if params[:f].nil? or params[:f][:worknum_s].nil? %>
			<%= render :partial => 'catalog/search_form' %>
        <% end -%>
		<div class="yui-g">
          <div class="yui-u first">
            <h1 class="site_title"><%= link_to image_tag("olac_logo_white_transparent.png", :border=>0), root_path %><%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>" : "" %></h1>
          </div>
        </div>
      </div>
	    
	    <div id="bd">
      	
      	<div id="yui-main">
          <div class="yui-b">
            <%= render :partial=>'/flash_msg' %>
            <%= yield %>
          </div>
        </div>
        
        <div class="yui-b sidebar"><%= sidebar_items.join('') %></div>
        
	    </div>
	    
	    <div id="ft"><%= @footer %></div>
	    
	  </div>
  </body>
  
</html>